{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer account">
  <div>
    <h1>{{ 'customer.account.title' | t }}</h1>
    <a href="/account">Order History</a> | 
    <a href="/pages/subscriptions">Subscriptions</a> | 
    <a href="/pages/upcoming-shipments">Upcoming Shipments</a> | 
    <a href="/pages/payment-methods">Payment Methods</a> | 
    <a href="/account/addresses">Addresses</a> | 
    <a href="{{ routes.account_logout_url }}">{{ 'customer.log_out' | t }}</a>
  </div>

  <div>
    <div>
      <h2>{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {%- if customer.orders.size > 0 -%}
          <table role="table" class="order-history">
            <caption class="visually-hidden">{{ 'customer.orders.title' | t }}</caption>
            <thead role="rowgroup">
              <tr role="row">
                <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                <th id="ColumnFulfillment" scope="col" role="columnheader">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              {%- for order in customer.orders -%}
                <tr role="row">
                  <td
                    id="RowOrder"
                    role="cell"
                    headers="ColumnOrder"
                    data-label="{{ 'customer.orders.order_number' | t }}"
                  >
                    <a href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
                      {{ order.name }}
                    </a>
                  </td>
                  <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                    {{ order.created_at | time_tag: format: 'date' }}
                  </td>
                  <td headers="RowOrder ColumnPayment" role="cell" data-label="{{ 'customer.orders.payment_status' | t }}">
                    {{ order.financial_status_label }}
                  </td>
                  <td headers="RowOrder ColumnFulfillment" role="cell" data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                    {{ order.fulfillment_status_label }}
                  </td>
                  <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                    {{ order.total_price | money_with_currency }}</td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- else -%}
          <p>{{ 'customer.orders.none' | t }}</p>
        {%- endif -%}

        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
              <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                <ul role="list">
                {%- if paginate.previous -%}
                  <li>
                    <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                      <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                  <li>
                    <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
                </ul>
              </nav>
          {%- endif -%}
        {%- endif -%}
      {% endpaginate %}

      <br /><br />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

      <h3>Wine Club Referrals</h3>                   
      <p>If you refer a friend and they sign up for a subscription you will both recieve a discount code for a free case, share your code below with friends and have them enter it on the form when they are logged into their account</p>
      <div>
        <strong>Your Referral Code: </strong>
        <span id="referralCodeText">Loading...</span>
      </div>    
      <div id="referralFormArea">
<form id="referralForm" method="POST" action="{% if shop.permanent_domain == 'winehub-demo.myshopify.com' %}https://wineclub-demo.digitact.co.uk{% else %}https://howards-folly-wine.digitact.co.uk{% endif %}/add_referrer/{{customer.id}}">
        <div id="referralError" style="color:red;"></div>
        <strong>Enter the code of the friend that referred you: </strong>
        <input id="customer_id" type="hidden" name="customer_id" value="{{customer.id}}">
        <input id="referrer_code" type="text" name="referrerCode">
        <button type="submit">Submit</button>       
</form>        
      </div> 
      <div>
        <h3>Active Referral Discounts</h3>
        <table class="table">
          <thead>
            <tr>
              <th>
                Source
              </th>
              <th>
                Discount Code
              </th>
              <th>
                Valid Until
              </th>
              <th>
                Valid For (One item from list)
              </th>
            </tr>  
          </thead>
          <tbody id="discountCodes">
            <tr>
              <td colspan="10" style="text-align:left;">
                None currently available
              </td>
            </tr>  
          </tbody>
        </table>
      </div>

      <script>

  {% if shop.permanent_domain == 'winehub-demo.myshopify.com' %}
    var app_domain = 'https://wineclub-demo.digitact.co.uk';
  {% else %}
    var app_domain = 'https://howards-folly-wine.digitact.co.uk';
  {% endif %}          

  $(function () {
    //alert("Loading content");  
    updateReferralCode();    

    $("#referralForm").submit(function (event) {
      var formData = {
        customer_id: $("#customer_id").val(),
        referrer_code: $("#referrer_code").val(),
      };
  
      $.ajax({
        type: "POST",
        url: $(this).attr('action'),
        data: formData,
        dataType: "json",
        encode: true,
      }).done(function (data) {
        console.log(data);        
        if (data.error!==undefined) {
          $("#referralError").html(data.error);
        }
      });
  
      event.preventDefault();
    });
  }); 
  
  function updateReferralCode() {
    
      $.ajax({
        url: app_domain+'/customer_details/{{customer.id}}',
        type: "GET",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
          $('#referralCodeText').html(data.referralCode); 
          $('#referralCode').val(data.referralCode); 
          if (data.referredBy!==undefined) {
            $("#referralFormArea").html("You were referred by: "+data.referredBy);
          }
          if (data.discountCodes) {
            var row = "";
            for (i = 0; i < data.discountCodes.length; i++) {
              row += '<tr><td style="padding: 2.4rem;">'+data.discountCodes[i].source+'</td><td>'+data.discountCodes[i].discountCode+'</td><td>'+data.discountCodes[i].expires+'</td><td style="padding-bottom: 2.4rem;">'+data.discountCodes[i].products+'</td></tr>';
            }
            //data.discountCodes.each(function() {
            //  row += '<tr><td>'+data.discountCodes[i].source+'</td><td>'+this['discountCode']+'</td><td>'+this['expires']+'</td><td></td></tr>';
            //});
            if (row!="") $("#discountCodes").html(row);
          }
        },
        error: function (data) { 
          console.log(data.responseText); 
        }
      });
    
  }        
        
      </script>
      
    </div>
  
    <div>
      <h2>{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <a href="{{ routes.account_addresses_url }}">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
      </a>
    </div>

  </div>
</div>
 
  

<div class="modal" id="modal1" data-animation="slideInOutLeft">
  <div class="modal-dialog">
    <header class="modal-header">
      Update your subscription
      <button class="close-modal" aria-label="close modal" data-close>
        ✕  
      </button>
    </header>
    <section class="modal-content">
      <div>
        Update Delivery Date:
        <input type="text">
      </div>
      <table border="2">
      
          <tbody><tr>
            <td width="250" height="250" align="center">
              <div id="wine1"><img src="https://cdn.shopify.com/s/files/1/0608/9428/1940/products/Freshco_2020_51f0a3fb-a1f7-41c7-93a3-66376f9895d8.png?v=1644526363" width="50"><br>Freshco?</div>
              <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-customize">
                <button id="ProductPopup-customize" class="product-form__submit button button--full-width" type="button" aria-haspopup="dialog" onclick="loadJSONcollection('#wine1');">Choose</button>
              </modal-opener>
            </td>
            <td width="250" height="250" align="center">
              <div id="wine2"><img src="https://cdn.shopify.com/s/files/1/0608/9428/1940/products/HF_Tr_C3_AAs__C3_82nforas_2019_750ml.png?v=1644526556" width="50"><br>Três Ânforas</div>
              <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-customize">
                <button id="ProductPopup-customize" class="product-form__submit button button--full-width" type="button" aria-haspopup="dialog" onclick="loadJSONcollection('#wine2');">Choose</button>
              </modal-opener>
            </td>
            <td width="250" height="250" align="center">
              <div id="wine3"><img src="https://cdn.shopify.com/s/files/1/0608/9428/1940/products/HF_Dirk_Niepoort_750ml.png?v=1644525942" width="50"><br>Edição Especial Dirk Niepoort</div>
              <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-customize">
                <button id="ProductPopup-customize" class="product-form__submit button button--full-width" type="button" aria-haspopup="dialog" onclick="loadJSONcollection('#wine3');">Choose</button>
              </modal-opener>
            </td>
          </tr>
          <tr>
            <td width="250" height="250" align="center">
              <div id="wine4"><img src="https://cdn.shopify.com/s/files/1/0608/9428/1940/products/HF_Alvarinho_2017_67070dc4-cf09-4349-bb5f-27a2497b1d07.png?v=1644526101" width="50"><br>Alvarinho</div>
              <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-customize">
                <button id="ProductPopup-customize" class="product-form__submit button button--full-width" type="button" aria-haspopup="dialog" onclick="loadJSONcollection('#wine4');">Choose</button>
              </modal-opener>
            </td>
            <td width="250" height="250" align="center">
              <div id="wine5"><img src="https://cdn.shopify.com/s/files/1/0608/9428/1940/products/Howard_E2_80_99s_Folly_Sonhador_2011.png?v=1644526001" width="50"><br>Sonhador</div>
              <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-customize">
                <button id="ProductPopup-customize" class="product-form__submit button button--full-width" type="button" aria-haspopup="dialog" onclick="loadJSONcollection('#wine5');">Choose</button>
              </modal-opener>
            </td>
            <td width="250" height="250" align="center">
              <div id="wine6"><img src="https://cdn.shopify.com/s/files/1/0608/9428/1940/products/HF_Reserva_Branco_2019_750ml.png?v=1644525983" width="50"><br>Reserva Branco</div>
              <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-customize">
                <button id="ProductPopup-customize" class="product-form__submit button button--full-width" type="button" aria-haspopup="dialog" onclick="loadJSONcollection('#wine6');">Choose</button>
              </modal-opener>
            </td>
          </tr>
        </tbody>
      </table>
      
    </section>
  </div>
</div>

<div class="modal" id="modal2">
  <div class="modal-dialog">
    <header class="modal-header">
      The header of the second modal
      <button class="close-modal" aria-label="close modal" data-close>
        ✕  
      </button>
    </header>
    <section class="modal-content">
      <p><strong>Press ✕, ESC, or click outside of the modal to close it</strong></p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo repellendus reprehenderit accusamus totam ratione! Nesciunt, nemo dolorum recusandae ad ex nam similique dolorem ab perspiciatis qui. Facere, dignissimos. Nemo, ea.</p>
      <p>Nullam vitae enim vel diam elementum tincidunt a eget metus. Curabitur finibus vestibulum rutrum. Vestibulum semper tellus vitae tortor condimentum porta. Sed id ex arcu. Vestibulum eleifend tortor non purus porta dapibus</p>
    </section>
    <footer class="modal-footer">
      The footer of the second modal
    </footer>
  </div>
</div>



<style>
  
.btn-group {
  text-align: center;
}
/*
.open-modal {
  font-weight: bold;
  background: blue;
  color: white;
  padding: 0.75rem 1.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
*/

/* MODAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: black;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  z-index: 1000;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: white;
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: lightgray;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .close-modal {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}


/* SLIDE LEFT ANIMATION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation="slideInOutLeft"] .modal-dialog {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s bounceEasing;
}

[data-animation="slideInOutLeft"].is-visible .modal-dialog {
  opacity: 1;
  transform: none;
  transition-delay: 0.2s;
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.page-footer span {
  color: #e31b23;
}


</style>
  
<script>
const openEls = document.querySelectorAll("[data-open]");
const closeEls = document.querySelectorAll("[data-close]");
const isVisible = "is-visible";

for (const el of openEls) {
  el.addEventListener("click", function() {
    const modalId = this.dataset.open;
    document.getElementById(modalId).classList.add(isVisible);
  });
}

for (const el of closeEls) {
  el.addEventListener("click", function() {
    this.parentElement.parentElement.parentElement.classList.remove(isVisible);
  });
}

document.addEventListener("click", e => {
  if (e.target == document.querySelector(".modal.is-visible")) {
    document.querySelector(".modal.is-visible [data-close]").click();
  }
});

document.addEventListener("keyup", e => {
  // if we press the ESC
  if (e.key == "Escape" && document.querySelector(".modal.is-visible")) {
    document.querySelector(".modal.is-visible [data-close]").click();
  }
});
 
</script>  
  