{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer account">
  <div>
    <h1>{{ 'customer.account.title' | t }}</h1>
    <a href="/account">Order History</a> | 
    <a href="/pages/subscriptions">Subscriptions</a> | 
    <a href="/pages/upcoming-shipments">Upcoming Shipments</a> | 
    <a href="/pages/payment-methods">Payment Methods</a> | 
    <a href="/pages/allocations">Allocations</a> | 
    <a href="/account/addresses">Addresses</a> | 
    <a href="{{ routes.account_logout_url }}">{{ 'customer.log_out' | t }}</a>
  </div>

  <div>
    <div>

      <h2>Exclusive Allocations</h2>
      
      

    </div>
  </div>
</div>


<style>

</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

  {% if shop.permanent_domain == 'winehub-demo.myshopify.com' %}
    var app_domain = 'https://wineclub-demo.digitact.co.uk';
  {% else %}
    var app_domain = 'https://howards-folly-wine.digitact.co.uk';
  {% endif %}
  
    $(function () {
      //alert("Loading content");  
      updateList();        
    }); 
  
  function updateList() {
      $('#subscription_tbody').html('<tr role="row"><td colspan="10" style="text-align: left;">Loading...</td></tr>');
      $.ajax({
        url: app_domain+'/app/api/upcoming_deliveries/{{customer.id}}',
        type: "GET",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (response) {
          $('#subscription_tbody').html('');
          $('#nextDispatchDate').html(new Date(response.nextDelivery).toDateString());
          data = response.deliveries
          console.log(data);
          console.log(data.length);
          if (data.length) {
            $(data).each(function (index, item) {
              //console.log(data[index].shopifyId);

              currencyCode = data[index].current_price_currency;
        	  if (currencyCode===undefined) currencyCode = 'EUR';

              var formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: currencyCode,
                // These options are needed to round to whole numbers if that's what you want.
                //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
                //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
              });         

              var row = '';
              row += '<tr role="row">';
              row += '<td headers="RowOrder ColumnImage" role="cell">';
              row += '<img src="'+data[index].image+'" style="max-width:140px; max-height:140px;" />';
              row += '</td>';    
              row += '<td';
              row += '    id="RowOrder"';
              row += '    role="cell"';
              row += '    headers="ColumnOrder"';
              row += '    data-label=""';
              row += '    >';
              //row += '  <a href="#" class="open-modal" data-open="modal1">';
              row += data[index].product_name;
              row += '  <br />';
              //row += data[index].sellingPlanGroupName;
              //row += '  <br />';
              row += data[index].selling_plan_name;
              //row += '  <br />';
              //row += '  </a>';
              row += '</td>';
              row += '<td headers="RowOrder ColumnDate" role="cell">';
              row += new Date(data[index].process_date).toDateString();
              row += '</td>';
              row += '<td headers="RowOrder ColumnFulfillment" role="cell">';
              row += formatter.format(data[index].items_price);
              row += '</td>';
              row += '<td headers="RowOrder ColumnFulfillment" role="cell">';
              row += formatter.format(data[index].shipping_price);
              row += '</td>';
              row += '<td headers="RowOrder ColumnFulfillment" role="cell">';
              row += formatter.format(data[index].total_price);
              row += '</td>';
    		  row += '<td headers="RowOrder ColumnAction" role="cell" style="padding:1.2rem;">';              
              if (data[index].wines.length) {
                row += '<button class="button button--primary" style="margin:0 0 3px 3px; width: 210px;" onClick="toggleDetails(this,\'#details-'+data[index].subscription_contract_shipment_id+'\');">Show Details</button>';
              }
              //row += '<a href="#ex1" rel="modal:open" class="button button--primary" style="margin:0 0 3px 3px; width: 210px;background:rgb(18, 18, 18);color:#fff;text-decoration:none;display: inline-flex;justify-content: center;align-items: center;"></a>';              
              if (data[index].wines.length) {
                row += '<modal-opener class="no-js-hidden" data-modal="#PopupModal-CasePick">';              
                row += '    <button class="button button--primary" style="padding:0; margin:0 0 3px 3px; width: 210px;" type="button" aria-haspopup="dialog" data-media-id="case-picker-id">Customise Shipment</button>';              
                row += '</modal-opener>';     
              }
              row += '<button class="button button--primary" style="margin:0 0 3px 3px; width: 210px;" onClick="cancelDelivery(\''+data[index].subscription_contract_shipment_id+'\');">Cancel Delivery</button>';
              row += '</td>';
              row += '</tr>';

              row += '<tr role="row" id="details-'+data[index].subscription_contract_shipment_id+'" style="display:none;">';
              row += '<td headers="RowOrder ColumnImage" role="cell" colspan="10">';
              row += '      <table role="table" class="order-history">';
              row += '        <caption class="visually-hidden">Wine Club Subscriptions</caption>';
              row += '        <thead role="rowgroup">';
              row += '          <tr role="row">';
              row += '            <th id="ColumnOrder" scope="col" role="columnheader">Image</th>            ';
              row += '            <th id="ColumnOrder" scope="col" role="columnheader" style="text-align:left;">Product</th>';
              row += '            <th id="ColumnPayment" scope="col" role="columnheader">Quantity</th>';
              row += '          </tr>';
              row += '        </thead>';
              row += '        <tbody id="subscription_tbody" role="rowgroup">';
              if (data[index].wines.length) {
                $(data[index].wines).each(function (index, item) {
                  row += '          <tr role="row">';
                  row += '<td headers="RowOrder ColumnFulfillment" role="cell">';
                  row += '<img src="'+item.image+'" style="max-width:100px; max-height:100px;" />';
                  row += '</td>';
                  row += '<td headers="RowOrder ColumnFulfillment" role="cell" style="text-align:left;">';
                  row += item.title;
                  row += '</td>';
                  row += '<td headers="RowOrder ColumnFulfillment" role="cell">';
                  row += item.quantity;
                  row += '</td>';
                  row += '          </tr>          ';
                });
              }
              else {
                row += '          <tr role="row">';
                row += '<td headers="RowOrder ColumnFulfillment" role="cell" colspan="10" style="text-align:left;">';
                row += 'Pending Selection By Winery';
                row += '</td>';
                row += '          </tr>          ';
              }	  
              row += '        </tbody>';
              row += '      </table>  ';
              row += '</td>';
              row += '</tr>';

              $('#subscription_tbody').append(row);     
            });           

          } else {
              var row = '';
              row += '<tr role="row">';
              row += '<td colspan="10" style="text-align: left;">No subscription records found</td>';
              row += '</tr>';
              $('#subscription_tbody').append(row);               
          }         
        },
        error: function (data) { alert(data.responseText); }
      }); 
  }
  
</script>

