{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer account">
  <div>
    <h1>{{ 'customer.account.title' | t }}</h1>
    <a href="/account">Order History</a> | 
    <a href="/pages/subscriptions">Subscriptions</a> | 
    <a href="/pages/upcoming-shipments">Upcoming Shipments</a> | 
    <a href="/pages/payment-methods">Payment Methods</a> | 
    <a href="/pages/membership-tiers">Membership Tiers</a> |
    <a href="/pages/allocations">Allocations</a> | 
    <a href="/account/addresses">Addresses</a> | 
    <a href="{{ routes.account_logout_url }}">{{ 'customer.log_out' | t }}</a>
  </div>

  <div>
    <div>

    <div id="allocations-modal-area" class="allocations-modal">
      <div class="allocations-modal-content">
        <span id="allocations-close-modal-button" class="allocations-close">&times;</span>
        <p>Some text in the Modal..</p>
      </div>
    </div>

    <div id='accept-allocations-modal' class='allocations-modal'>
      <div class='allocations-modal-content'>
        <span id='accept-allocations-close-button' class='allocations-close'>&times;</span>
        <h4 class='allocations-header'>Claim Allocation</h4>
        <p class='allocations-text' id='accept-allocations-text'></p>
        <button id='accept-allocations-button' class='allocations-button'>Accept</button>
      </div>
    </div>

    <div id='reject-allocations-modal' class='allocations-modal'>
      <div class='allocations-modal-content'>
        <span id='reject-allocations-close-button' class='allocations-close'>&times;</span>
        <h4 class='allocations-header'>Reject Allocation</h4>
        <p class='allocations-text' id='reject-allocations-text'></p>
        <button id='reject-allocations-button' class='allocations-button'>Reject</button>
      </div>
    </div>
      
      <h2>Exclusive Allocations</h2>
      <div id='allocations-tables'>
        <h4>Currently available</h4>
        <p id='allocation-status-text' style='display:none;'></p>
        <table id='available-allocations'>
          <thead>
            <tr>
              <th style='display:none'>

              </th>
              <th>
                Image
              </th>
              <th>
                Product
              </th>
              <th>
                Date
              </th>
              <th>
                Claimable Allocations
              </th>
            </tr>
          </thead>
          <tbody id='available-allocations-area'>
          
          </tbody>
        </table>

        <h4>Accepted</h4>
        <table id='accepted-allocations'>
          <thead>
            <tr>
              <th style='display:none'>
                
              </th>
              <th>
                Image
              </th>
              <th>
                Product
              </th>
              <th>
                Date
              </th>
              <th>
                Claimed Allocations
              </th>
            </tr>
          </thead>
          <tbody id='accepted-allocations-area'>
            
          </tbody>
        </table>

        <h4>Accepted</h4>
        <table id='rejected-allocations'>
          <thead>
            <tr>
              <th style='display:none'>
                
              </th>
              <th>
                Image
              </th>
              <th>
                Product
              </th>
              <th>
                Date
              </th>
              <th>
                Rejected Allocations
              </th>
            </tr>
          </thead>
          <tbody id='rejected-allocations-area'>
            
          </tbody>
        </table>
        
        <h4>Expired</h4>
        <table id='expired-allocations'>
          <thead>
            <tr>
              <th style='display:none'>
                
              </th>
              <th>
                Image
              </th>
              <th>
                Product
              </th>
              <th>
                Date
              </th>
              <th>
                Missed Allocations
              </th>
            </tr>
          </thead>
          <tbody id='expired-allocations-area'>
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<style>
/* The Modal (background) */
.allocations-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.allocations-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 65%; /* Could be more or less, depending on screen size */
  height:fit-content;
  overflow:auto;
}

.allocations-header {
  padding: 12px;
}

.allocations-text {
  padding: 12px;
}
  
/* The Close Button */
.allocations-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.allocations-button {
  float:right;
}

.allocations-close:hover,
.allocations-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

  {% if shop.permanent_domain == 'winehub-demo.myshopify.com' %}
    var app_domain = 'https://wineclub-demo.digitact.co.uk';
  {% else %}
    var app_domain = 'https://howards-folly-wine.digitact.co.uk';
  {% endif %}
  
    $(function () {
      //alert("Loading content");  
      getAllocations();

      var modal = $("#allocations-modal-area");
      var accModal = $('#accept-allocations-modal')
      var rejModal = $('#reject-allocations-modal')
      var btn = $("#allocations-open-modal-button");
      var span = $("#allocations-close-modal-button");
      var accClose = $('#accept-allocations-close-button');
      var rejClose = $('#reject-allocations-close-button');
  
      btn.click(function () {
        modal.css({"display" : "block"});
      });
  
      span.click(function () {
        modal.css({'display' :'none'});
      });

      accClose.click(function() {
        accModal.css({'display' : 'none'});
      })

      rejModal.click(function() {
        rejModal.css({'display' : 'none'});
      })
  
      window.onclick = (function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      });
      
    }); 

  function getQuantity(allocationId) {
    let qid = '#quantity-count-'+allocationId;
    let quant = document.querySelector(qid);
    let num = 0
    if(quant) {
      num = parseInt(quant.innerText)
    }

    return num;
  }
  
  function incrementCount(elementId, max) {
    let quant = document.querySelector(elementId)
    if(quant) {
      let num = parseInt(quant.innerText)
      if(num < max) {
        quant.innerText = ++num
      }
    }
  }

  function showAcceptModal(allocationId, customerId, claimText) {
    let quantity = getQuantity(allocationId)
    let finalText = claimText.replace("_q_", quantity)
    $('#accept-allocations-text').text(finalText)
    
    $('#accept-allocations-button').click(function() {
      claimAllocation(allocationId, customerId, quantity)
    })

    $('#accept-allocations-modal').css({'display': 'block'})
  }

  function showRejectModal(allocationId, customerId, rejectText) {
    $('#reject-allocations-text').text(rejectText)
    
    $('#reject-allocations-button').click(function() {
      rejectAllocation(allocationId, customerId)
    })

    $('#reject-allocations-modal').css({'display': 'block'})
  }
  
  function decrementCount(elementId, min) {
    let quant = document.querySelector(elementId)
    if(quant) {
      let num = parseInt(quant.innerText)
      if(num > min) {
        quant.innerText = --num
      }
    }
  }

  function rejectAllocation(allocationId, customerId) {
    if(allocationId && customerId) {
      let bodyData = `{
        "customerId": "` + customerId + `",
        "allocationId": "` + allocationId + `"
      }`
  
      $.ajax({
        url: app_domain + '/app/api/reject_product_allocation/' + allocationId,
        type: "POST",
        dataType: "json",
        data: bodyData,
        contentType: "application/json; charset=utf-8",
        success: function (response) {
          let data = response.message;
          $('#allocation-status-text').css('display:block')
          if(data && data.length) {
            //TODO: post the message that returns, change button status
            $('#allocation-status-text').text(data);
            $('#allocation-status-text').css('display:block')
            $('#claim-open-button').prop('disabled', true)
            $('#reject-open-button').prop('disabled', true)
          }
        },
        error: function (response) {
          //TODO: have some indicator text onscreen
          $('#allocation-status-text').text(response);
        }
      })
    }
  }
  
  function claimAllocation(allocationId, customerId, quantity) {
    if(allocationId && customerId) {
      let num = getQuantity(allocationId)
      
      let bodyData = `{
        "customerId": "` + customerId + `",
        "allocationId": "` + allocationId + `",
        "desiredQuantity": "` + num + `"
      }`
  
      $.ajax({
        url: app_domain + '/app/api/claim_product_allocation/' + allocationId,
        type: "POST",
        dataType: "json",
        data: bodyData,
        contentType: "application/json; charset=utf-8",
        success: function (response) {
          let data = response.message;
          $('#allocation-status-text').css('display:block')
          if(data && data.length) {
            //TODO: post the message that returns, change button status
            $('#allocation-status-text').text(data);
            $('#allocation-status-text').css('display:block')
            $('#claim-open-button').prop('disabled', true)
            $('#reject-open-button').prop('disabled', true)
          }
        },
        error: function (response) {
          //TODO: have some indicator text onscreen
          $('#allocation-status-text').text(response);
        }
      })
    }
  }

  function parseAllocationItem(item) {
    let customerId = `{{ customer.id }}`
    let id = item['id'];
    let featureImage = item['featureImage'];
    let name = item['name'];
    let description = item['description'];
    let createdAt = item['createdAt'];
    let createdDate = new Date(Date.parse(createdAt["date"]))
    let publishedAt = item['publishedAt'];
    let publishedDate = new Date(Date.parse(publishedAt["date"]))
    let expiresAt = item['expiresAt'];
    let expiresDate = new Date(Date.parse(expiresAt["date"]))
    let published = item['published'];
    let individualAllocations = item['individualAllocations'];
    let today = new Date();
    let current = expiresDate > new Date();
    let shopifyVariantId = item['shopifyId'];
    let qid = '#quantity-count-'+id;
    let quant = document.querySelector(qid);
    let num = 0
    if(quant) {
      num = parseInt(quant.innerText)
    }

    let claimText = '"You are choosing to claim _q_ out of ' + individualAllocations + ' allocated products. Make sure this is correct - any leftovers will no longer be available!"'
    let rejectText = '"You are rejecting all ' + individualAllocations + ' of your exclusively allocated products, which means they will no longer be available to you. Are you sure you want to do this?"'
    
    let claimCode = current ? `
    <div style='max-width:200px; margin-left:auto; margin-right:auto'>
      <p style='text-align:center'>Select quantity</p>
      <div style='max-width:200px; text-align:center'>
        <button style='margin-top:4px; float:left; padding-left:22px; padding-right:22px; min-width:18px; max-width:18px' onClick='incrementCount("#quantity-count-`+id+`", ` + individualAllocations + `)'>+</button>
        <div style='display:inline-block; padding-top:16px'><p style='display:inline;' id='quantity-count-`+ id +`'>1</p></div>
        <button style='margin-top:4px; float:right; padding-left:22px; padding-right:22px; min-width:18px; max-width:18px' onClick='decrementCount("#quantity-count-`+id+`", 1)'>-</button>
      </div>
      <button id='claim-open-button' class='btn' style='display:block; width:100%; margin-left:0px; margin-right:0px; margin-top:12px' onClick='showAcceptModal(` + id + `,` + customerId + `,` + claimText + `)'>Claim</button>
      <button id='reject-open-button' class='btn' style='display:block; width:100%; margin-left:0px; margin-right:0px; margin-top:12px' onClick='showRejectModal(` + id + `,` + customerId + `,` + rejectText + `)'>Reject</button>
    </div>
    ` : `<p>`+ individualAllocations +`</p>`
    
    let rowId = 'allocation-item-' + id;
    let row = '<tr id="' + rowId + '">';
    row += '<td id="allocation-id" style="display:none"><p style="display:none">' + id + '</p></td>'
    row += '<td id="allocation-image"><img src="' + featureImage + '" style="max-height: 120px" /></td>'
    row += '<td id="allocation-name">' + '<p>' + name + '</p>' + '<p>' + description + '</p>' + '</td>'
    row += '<td id="allocation-creation">' + expiresDate.getFullYear() + '-' + (expiresDate.getMonth()+1) + '-' + expiresDate.getDate() + '</td>'
    row += '<td id="allocation-claim">' + claimCode + '</td>'
    row += '</tr>'

    return row;
  }

  function renderAllocationRow(rowAreaTag, rowData) {
    let count = 0;
    $(rowData).each(function(index, item) {
      let row = parseAllocationItem(item)
      if(row) {
        $(rowAreaTag).append(row);
        count++;
      }
    })

    return count;
  }
  
  function getAllocations() {
      $.ajax({
        url: app_domain+'/app/api/customer_product_allocations/{{customer.id}}',
        type: "GET",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (response) {
          let data = response.customer_allocations;
          let availableCount = 0;
          let expiredCount = 0;
          let acceptedCount = 0;
          let rejectedCount = 0;

          let availableData = response.available_allocations;
          let acceptedData = response.accepted_allocations;
          let rejectedData = response.rejected_allocations;
          let expiredData = response.expired_allocations;

          let available = availableData && availableData.length;
          let accepted = acceptedData && acceptedData.length;
          let rejected = rejectedData && rejectedData.length;
          let expired = expiredData && expiredData.length;
          
          if(available || accepted || rejected || expired) {
            availableCount = renderAllocationRow('#available-allocations-area')
            acceptedCount = renderAllocationRow('#accepted-allocations-area')
            rejectedCount = renderAllocationRow('#rejected-allocations-area')
            expiredCount = renderAllocationRow('#expired-allocations-area')
          }
          else if (data && data.length) {
            //old API, can delete once the server code is updated
            $(data).each(function (index, item) {

              let row = parseAllocationItem(item)
              let expiresAt = item['expiresAt'];
              let expiresDate = new Date(Date.parse(expiresAt["date"]))
              let current = expiresDate > new Date();
              
              if(current) {
                $('#available-allocations-area').append(row);
                availableCount++;
              }
              else {
                $('#expired-allocations-area').append(row);
                expiredCount++;
              }
            })

            if(availableCount === 0) {
              $('#available-allocations').html('<p>You have no current product allocations.</p>')
            }

            if(expiredCount === 0) {
              $('#expired-allocations').html('<p>You have no expired product allocations.</p>')
            }
          }
          else {
            $('#allocations-tables').html('<p>You have no current or expired product allocations.</p>');
          }
        },
        error: function (data) { $('#allocations-tables').html(''); console.log('%o', data) }
      }); 
  }


</script>

