{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer account">
  <div>
    <h1>{{ 'customer.account.title' | t }}</h1>
    <a href="/account">Order History</a> | 
    <a href="/pages/subscriptions">Subscriptions</a> | 
    <a href="/pages/upcoming-shipments">Upcoming Shipments</a> | 
    <a href="/pages/payment-methods">Payment Methods</a> | 
    <a href="/pages/membership-tiers">Membership Tiers</a> |
    <a href="/pages/allocations">Allocations</a> | 
    <a href="/account/addresses">Addresses</a> | 
    <a href="{{ routes.account_logout_url }}">{{ 'customer.log_out' | t }}</a>
  </div>

  <div>
    <div>

      <h2>Exclusive Allocations</h2>
      <div id='allocations-tables'>
        <h4>Currently available</h4>
        <p id='allocation-status-text' style='display:none;'></p>
        <table id='available-allocations'>
          <thead>
            <tr>
              <th style='display:none'>

              </th>
              <th>
                Image
              </th>
              <th>
                Product
              </th>
              <th>
                Expires
              </th>
              <th>
                Claimable Allocations
              </th>
            </tr>
          </thead>
          <tbody id='available-allocations-area'>
          
          </tbody>
        </table>
  
        <h4>Expired</h4>
        <table id='expired-allocations'>
          <thead>
            <tr>
              <th style='display:none'>
                
              </th>
              <th>
                Image
              </th>
              <th>
                Product
              </th>
              <th>
                Expired
              </th>
              <th>
                Missed Allocations
              </th>
            </tr>
          </thead>
          <tbody id='expired-allocations-area'>
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<style>

</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

  {% if shop.permanent_domain == 'winehub-demo.myshopify.com' %}
    var app_domain = 'https://wineclub-demo.digitact.co.uk';
  {% else %}
    var app_domain = 'https://howards-folly-wine.digitact.co.uk';
  {% endif %}
  
    $(function () {
      //alert("Loading content");  
      getAllocations();        
    }); 

  function incrementCount(elementId, max) {
    let quant = document.querySelector(elementId)
    if(quant) {
      let num = parseInt(quant.innerText)
      if(num < max) {
        quant.innerText = ++num
      }
    }
  }
  
  function decrementCount(elementId, min) {
    let quant = document.querySelector(elementId)
    if(quant) {
      let num = parseInt(quant.innerText)
      if(num > min) {
        quant.innerText = --num
      }
    }
  }

  
  function claimAllocation(allocationId, customerId, quantity) {
    let bodyData = `{
      "customerId": "` + customerId + `",
      "allocationId": "` + allocationId + `",
      "desiredQuantity": "` + quantity + `"
    }`

    $.ajax({
      url: app_domain + '/app/api/claim_product_allocation/' + allocationId,
      type: "POST",
      dataType: "json",
      data: bodyData,
      contentType: "application/json; charset=utf-8",
      success: function (response) {
        let data = response.claim_result;
$('#allocation-status-text').css('display:block')
        if(data && data.length) {
          //TODO: post the message that returns, change button status
          $('#allocation-status-text').text(data);
          $('#allocation-status-text').css('display:block')
        }
      },
      error: function (response) {
        //TODO: have some indicator text onscreen
        $('#allocation-status-text').text(response);
      }
    })

  }
  
  function getAllocations() {
      $.ajax({
        url: app_domain+'/app/api/customer_product_allocations/{{customer.id}}',
        type: "GET",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (response) {
          let data = response.customer_allocations;
          let availableCount = 0;
          let expiredCount = 0;
          
          if (data && data.length) {
            $(data).each(function (index, item) {

              let id = item['id'];
              let featureImage = item['featureImage'];
              let name = item['name'];
              let description = item['description'];
              let createdAt = item['createdAt'];
              let createdDate = new Date(Date.parse(createdAt["date"]))
              let publishedAt = item['publishedAt'];
              let publishedDate = new Date(Date.parse(publishedAt["date"]))
              let expiresAt = item['expiresAt'];
              let expiresDate = new Date(Date.parse(expiresAt["date"]))
              let published = item['published'];
              let individualAllocations = item['individualAllocations'];
              let current = expiresAt > new Date();
              let shopifyVariantId = item['shopifyId'];
              let quant = document.querySelector('#quantity-count');
              let num = parseInt(quant.innerText)

              let claimCode = current ? `
              <div style='max-width:200px; margin-left:auto; margin-right:auto'>
                <p style='text-align:center'>Select quantity</p>
                <div style='max-width:200px; text-align:center'>
                  <button style='margin-top:4px; float:left; padding-left:22px; padding-right:22px; min-width:18px; max-width:18px' onClick='incrementCount("#quantity-count-`+id+`", ` + individualAllocations + `)'>+</button>
                  <div style='display:inline-block; padding-top:16px'><p style='display:inline;' id='quantity-count-`+ id +`'>1</p></div>
                  <button style='margin-top:4px; float:right; padding-left:22px; padding-right:22px; min-width:18px; max-width:18px' onClick='decrementCount("#quantity-count-`+id+`", 1)'>-</button>
                </div>
                <button class='btn' style='display:block; margin-left:auto; margin-right:auto; margin-top:12px' onClick='claimAllocation(` + id + `,` + customer.id + `,` + num + `)'>Claim Allocation</button
              </div>
              ` : `<p>`+ individualAllocations +`</p>`
              
              let rowId = 'allocation-item-' + id;
              let row = '<tr id="' + rowId + '">';
              row += '<td id="allocation-id" style="display:none"><p style="display:none">' + id + '</p></td>'
              row += '<td id="allocation-image"><img src="' + featureImage + '" style="max-height: 120px" /></td>'
              row += '<td id="allocation-name">' + '<p>' + name + '</p>' + '<p>' + description + '</p>' + '</td>'
              row += '<td id="allocation-creation">' + expiresDate.getFullYear() + '-' + expiresDate.getMonth() + '-' + expiresDate.getDate() + '</td>'
              row += '<td id="allocation-claim">' + claimCode + '</td>'
              row += '</tr>'

              if(current) {
                $('#available-allocations-area').append(row);
                availableCount++;
              }
              else {
                $('#expired-allocations-area').append(row);
                expiredCount++;
              }
            })

            if(availableCount === 0) {
              $('#available-allocations').html('<p>You have no current product allocations.</p>')
            }

            if(expiredCount === 0) {
              $('#expired-allocations').html('<p>You have no expired product allocations.</p>')
            }
          }
          else {
            $('#allocations-tables').html('<p>You have no current or expired product allocations.</p>');
          }
        },
        error: function (data) { $('#allocations-tables').html(''); console.log('%o', data) }
      }); 
  }
  
</script>

