{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer account">
  <div>
    <h1>{{ 'customer.account.title' | t }}</h1>
    <a href="/account">Order History</a> | 
    <a href="/pages/subscriptions">Subscriptions</a> | 
    <a href="/pages/upcoming-deliveries">Upcoming Deliveries</a> | 
    <a href="/pages/payment-methods">Payment Methods</a> | 
    <a href="/account/addresses">Addresses</a> | 
    <a href="{{ routes.account_logout_url }}">{{ 'customer.log_out' | t }}</a>
  </div>

  <div>
    <div>

      <h2>Subscriptions</h2>

      <table role="table" class="order-history">
        <caption class="visually-hidden">Wine Club Subscriptions</caption>
        <thead role="rowgroup">
          <tr role="row">
            <th id="ColumnOrder" scope="col" role="columnheader">Subscription</th>
            <th id="ColumnDate" scope="col" role="columnheader">Started</th>
            <th id="ColumnPayment" scope="col" role="columnheader">Next Shipment</th>
            <th id="ColumnFulfillment" scope="col" role="columnheader">Fulfullment</th>
            <th id="ColumnTotal" scope="col" role="columnheader">Total</th>
            <th id="ColumnAction" scope="col" role="columnheader"></th>
          </tr>
        </thead>
        <tbody id="subscription_tbody" role="rowgroup">
          <tr role="row">
            <td colspan="10" style="text-align: left;">Loading...</td>
          </tr>
        </tbody>
      </table>   

    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<script>
    $(function () {
      //alert("Loading content");  
      //
         
      $.ajax({
        url: 'https://howards-folly-wine.digitact.co.uk/api/subscription_contracts?page=1&customer.shopifyId={{customer.id}}',
        type: "GET",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
          $('#subscription_tbody').html("");
          if (data.length) {
            $(data).each(function (index, item) {
              //console.log(data[index].shopifyId);
              var formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: data[index].deliveryPriceCurrencyCode,
                // These options are needed to round to whole numbers if that's what you want.
                //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
                //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
              });         

              var row = '';
              row += '<tr role="row">';
              row += '<td';
              row += '    id="RowOrder"';
              row += '    role="cell"';
              row += '    headers="ColumnOrder"';
              row += '    data-label=""';
              row += '    >';
              row += '  <a href="#" class="open-modal" data-open="modal1">';
              row += data[index].productName;
              row += '  <br />';
              row += data[index].sellingPlanGroupName;
              row += '  <br />';
              row += data[index].sellingPlanName;
              row += '  <br />';
              row += '  </a>';
              row += '</td>';
              row += '<td headers="RowOrder ColumnDate" role="cell">';
              row += new Date(data[index].created).toDateString();
              row += '</td>';
              row += '<td headers="RowOrder ColumnPayment" role="cell">';
              row += new Date(data[index].nextBillingDate).toDateString();
              row += '</td>';
              row += '<td headers="RowOrder ColumnFulfillment" role="cell">';
              row += data[index].status;
              row += '</td>';
              row += '<td headers="RowOrder ColumnTotal" role="cell">';
              row += formatter.format(data[index].deliveryPriceAmount);
              row += '</td>';
              row += '<td headers="RowOrder ColumnAction" role="cell">';
              row += '<a class="button button--primary" href="https://howards-folly-wine.digitact.co.uk/cancelsubscription/'+data[index].shopifyId+'">Cancel Subscription</a>';
              row += '</td>';
              row += '</tr>';
              $('#subscription_tbody').append(row);     
            });           

          } else {
              var row = '';
              row += '<tr role="row">';
              row += '<td colspan="10" style="text-align: left;">No subscription records found</td>';
              row += '</tr>';
              $('#subscription_tbody').append(row);               
          }         
        },
        error: function (data) { alert(data.responseText); }
      });

    });  
</script>



<style>

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}
</style>
<body>

<h2>Delete Modal</h2>

<button onclick="document.getElementById('id01').style.display='block'">Open Modal</button>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>Delete Account</h1>
      <p>Are you sure you want to delete your account?</p>
    
      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Delete</button>
      </div>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>