{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer account">
  <div>
    <h1>{{ 'customer.account.title' | t }}</h1>
    <a href="/account">Order History</a> | 
    <a href="/pages/subscriptions">Subscriptions</a> | 
    <a href="/pages/upcoming-deliveries">Upcoming Deliveries</a> | 
    <a href="/pages/payment-methods">Payment Methods</a> | 
    <a href="/account/addresses">Addresses</a> | 
    <a href="{{ routes.account_logout_url }}">{{ 'customer.log_out' | t }}</a>
  </div>

  <div>
    <div>

      <h2>Subscriptions</h2>

      <table role="table" class="order-history">
        <caption class="visually-hidden">Wine Club Subscriptions</caption>
        <thead role="rowgroup">
          <tr role="row">
            <th id="ColumnOrder" scope="col" role="columnheader">Subscription</th>
            <th id="ColumnDate" scope="col" role="columnheader">Started</th>
            <th id="ColumnPayment" scope="col" role="columnheader">Next Shipment</th>
            <th id="ColumnFulfillment" scope="col" role="columnheader">Fulfullment</th>
            <th id="ColumnTotal" scope="col" role="columnheader">Total</th>
          </tr>
        </thead>
        <tbody role="rowgroup">
          <tr role="row">
            <td
                id="RowOrder"
                role="cell"
                headers="ColumnOrder"
                data-label="{{ 'customer.orders.order_number' | t }}"
                >
              <a href="#" class="open-modal" data-open="modal1">
                Quarterly Subscription - Reds
              </a>
            </td>
            <td headers="RowOrder ColumnDate" role="cell">
              1st February 2022
            </td>
            <td headers="RowOrder ColumnPayment" role="cell">
              1st May 2022
            </td>
            <td headers="RowOrder ColumnFulfillment" role="cell">
              Pending
            </td>
            <td headers="RowOrder ColumnTotal" role="cell">
              &pound;200.00 GBP</td>
          </tr>
        </tbody>
      </table>   

    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<script>
    $(function () {
      alert("Loading content");  
      $.ajax({
        url: 'https://howards-folly-wine.digitact.co.uk/api/subscription_contracts?page=1&customer.shopifyId={{customer.id}}',
        type: "GET",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
          alert(data);
		  var json = JSON.parse(data);
          $(json).each(function (index, item) {
        	console.log(json[index].shopifyId);
        	/*
            var questionId = json[index].id;
            var question = json[index].question;
            var course = json[index].course;
            for (var option = 0; option < json[index].answerEntities.length; option++) {
              var ans = json[index].answerEntities[option].ans;
              var ansId = json[index].answerEntities[option].id;
              var ansStatus = json[index].answerEntities[option].status;
              $('tbody#emp').append(
                '<tr><td>'
                + questionId
                + '</td><td>'
                + question
                + '</td><td>'
                + course
                + '</td><td>'
                + ansId
                + '</td><td>'
                + ans
                + '</td><td>'
                + ansStatus
                + '</td></tr>')
            }
            */
          });          
          /*
          var json = JSON.parse(data.d);
          $(json).each(function (index, item) {
            var questionId = json[index].id;
            var question = json[index].question;
            var course = json[index].course;
            for (var option = 0; option < json[index].answerEntities.length; option++) {
              var ans = json[index].answerEntities[option].ans;
              var ansId = json[index].answerEntities[option].id;
              var ansStatus = json[index].answerEntities[option].status;
              $('tbody#emp').append(
                '<tr><td>'
                + questionId
                + '</td><td>'
                + question
                + '</td><td>'
                + course
                + '</td><td>'
                + ansId
                + '</td><td>'
                + ans
                + '</td><td>'
                + ansStatus
                + '</td></tr>')
            }
          });
          */
        },
        error: function (data) { alert(data.responseText); }
      });

    });  
</script>

